---
const personalImageAlt = 'Facundo Pascale'
---

<article
  class="flex flex-col ml-2 sm:ml-1 md:ml-0 items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row"
>
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-orange-500 dark:[&>p>strong]:text-orange-300 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Hola! Soy Facundo Pascale, <strong
        >un desarrollador de aplicaciones web y móviles</strong
      > comprometido con la resolución creativa de problemas.
    </p>

    <p>
      Destaco por mi <strong
        >dedicación, habilidades interpersonales y capacidad para liderar y
        tomar decisiones.
      </strong>
    </p>

    <p>
      Me encantar enfrentar desafíos y trabajar en equipo para lograr resultados
      excepcionales
    </p>
  </div>
  <!-- TODO: poner una foto linda aca -->
  <!-- <img width="200" height="200" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 bg-white md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl dark:bg-yellow-500/5 ring-1 ring-white/20 " style="object-position: 50% 50%"> -->
</article>
