---
import Layout from '@/layouts/Layout.astro'
import AboutMe from './AboutMe.astro'
import Briefcase from './icons/Briefcase.astro'
import CodeIcon from './icons/Code.astro'
import Experience from './Experience.astro'
import ProfileCheck from './icons/ProfileCheck.astro'
import Projects from './Projects.astro'
import SectionContainer from './SectionContainer.astro'
import Hero from './Hero.astro'

import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<Layout title=`${t('seo.title')}` description=`${t('seo.description')}`>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
  </main>
  <div class="space-y-24">
    <SectionContainer id={t('nav.experience').toLowerCase()}>
      <h2
        class="flex items-center mb-6 ml-2 sm:ml-1 md:ml-0 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <Briefcase class="size-8" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id={t('nav.projects').toLowerCase()}>
      <h2
        class="flex items-center mb-6 ml-2 sm:ml-1 md:ml-0 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id={t('nav.about-me').toLowerCase()}>
      <h2
        class="flex items-center mb-6 ml-2 sm:ml-1 md:ml-0 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
      >
        <ProfileCheck class="size-8" />
        Sobre mí
      </h2>
      <AboutMe />
    </SectionContainer>
  </div>
</Layout>
