---
import Layout from '@/layouts/Layout.astro'
import AboutMe from './AboutMe.astro'
import Briefcase from './icons/Briefcase.astro'
import CodeIcon from './icons/Code.astro'
import Experience from './Experience.astro'
import ProfileCheck from './icons/ProfileCheck.astro'
import Projects from './Projects.astro'
import SectionContainer from './SectionContainer.astro'
import Hero from './Hero.astro'

const { language } = Astro.props
---

<Layout
  title="Porfolio de Facundo Pascale - Desarrollador y Programador Web/Mobile con 4 años de experiencia"
  description="Contrata a Facundo para crear tu aplicación web o móvil. Desarrollador Web y Mobile especializado en crear aplicaciones sorprendentes."
  language={language}
>
  <main class="px-4">
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
  </main>
  <div class="space-y-24">
    <SectionContainer id="experiencia">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <Briefcase class="size-8" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-3 text-black/80 dark:text-white"
      >
        <CodeIcon class="size-7" />
        Proyectos
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <h2
        class="flex items-center mb-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white"
      >
        <ProfileCheck class="size-8" />
        Sobre mí
      </h2>
      <AboutMe />
    </SectionContainer>
  </div>
</Layout>
