---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  {
    date: "Actualmente...",
    title: "Desarrollador Mobile",
    company: "Magnetico",
    description:
      "Responsable del desarrollo de las soluciones moviles de la empresa, participando en la planificacion y ejecucion de la misma en diferentes equipos",
  },
  {
    date: "Febrero 2022 - Febrero 2024",
    title: "Desarrollador Web/Mobile Multiplataforma",
    company: "LenioLabs",
    description:
      "Participacion en diferentes equipos multiculturales con diferentes tecnologias. Responsable del desarollo front end y en ocasiones de las librerias UI diseñadas para algún cliente en particular.",
  },
  {
    date: "Septiembre 2021 - Enero 2023",
    title: "Profesor y Tutor - Desarrollo Mobile Multiplataforma",
    company: "Coderhouse",
    description:
    "Como Profesor mis responsabilidades eran el dictado de clases en vivo, correción de proyectos de mitad/fin de curso y la coordinación del equipo para poder brindarle a los alumnos la mejor experiencia posible",
  },
  {
    date: "Agosto 2021 - Enero 2022",
    title: "Desarrollador Mobile Multiplataforma",
    company: "Learsoft",
    description:
      "Responsable en el desarrollo de una billetera virtual, asistencia a mi compañeros, revisión de pull requests y participación en la planificación del proyecto.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
