---
import ExperienceItem from './ExperienceItem.astro'
import { getLangFromUrl, useTranslations } from '@/i18n/utils'

type ExperienceItem = {
  date: string
  company: string
  title: string
  description: string
}

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)

const EXPERIENCE: ExperienceItem[] = [
  {
    date: t('experience.freelance.date'),
    company: t('experience.freelance.company'),
    title: t('experience.freelance.title'),
    description: t('experience.freelance.description'),
  },
  {
    date: t('experience.desafio-latam.date'),
    company: t('experience.desafio-latam.company'),
    title: t('experience.desafio-latam.title'),
    description: t('experience.desafio-latam.description'),
  },
  {
    date: t('experience.magnetico.date'),
    company: t('experience.magnetico.company'),
    title: t('experience.magnetico.title'),
    description: t('experience.magnetico.description'),
  },
  {
    date: t('experience.leniolabs.date'),
    company: t('experience.leniolabs.company'),
    title: t('experience.leniolabs.title'),
    description: t('experience.leniolabs.description'),
  },
  {
    date: t('experience.coderhouse.date'),
    company: t('experience.coderhouse.company'),
    title: t('experience.coderhouse.title'),
    description: t('experience.coderhouse.description'),
  },
  {
    date: t('experience.learsoft.date'),
    company: t('experience.learsoft.company'),
    title: t('experience.learsoft.title'),
    description: t('experience.learsoft.description'),
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
