<footer
  class="rounded-lg shadow m-4 bg-black/5 backdrop-blur-lg w-full mx-auto container lg:max-w-4xl md:max-w-2xl mb-10 flex justify-center"
>
  <div
    class="w-full max-w-screen-xl py-2 mx-auto flex items-center justify-between"
  >
    <span
      class="ml-2 text-sm sm:text-center text-zinc-800/90 dark:text-zinc-200/90"
    >
      Inspirado en el template de
      <a
        role="link"
        href="https://midu.dev/"
        class="hover:underline text-orange-500">MiduDev</a
      >
    </span>
    <ul
      class="flex flex-wrap items-center mr-2 text-sm font-medium dark:text-white/90"
    >
      <li>
        <a role="link" href="/#sobre-mi" class="hover:underline me-4 md:me-6"
          >Sobre mí</a
        >
      </li>
      <li>
        <a
          role="link"
          href="mailto:facundopascale@gmail.com"
          class="hover:underline">Contacto</a
        >
      </li>
    </ul>
  </div>
</footer>
