---
import HeaderLink from './HeaderLink.astro'
import LanguageSelector from './LanguageSelector.astro'
import { ThemeToggleButton } from './ThemeToggleButton'
import {
  getLangFromUrl,
  useTranslatedPath,
  useTranslations,
} from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
const translatePath = useTranslatedPath(lang)

const getUrlTranslate = (key: string): string => {
  return t(key).toLowerCase()
}

const navItems = [
  {
    title: `${t('nav.experience')}`,
    label: `${t('nav.experience')}`,
    url: `${translatePath(`/#${getUrlTranslate('nav.experience')}`)}`,
  },
  {
    title: `${t('nav.projects')}`,
    label: `${t('nav.projects')}`,
    url: `${translatePath(`/#${getUrlTranslate('nav.projects')}`)}`,
  },
  {
    title: `${t('nav.about-me')}`,
    label: `${t('nav.about-me')}`,
    url: `${translatePath(`/#${getUrlTranslate('nav.about-me')}`)}`,
  },
  {
    title: `${t('nav.contact')}`,
    label: `${t('nav.contact')}`,
    url: 'mailto:facundopascale@gmail.com',
  },
]
---

<header
  class="fixed flex flex-row w-auto p-2 z-20 self-center justify-between items-center"
>
  <nav
    class="flex px-2 text-sm font-medium rounded-full text-zinc-600 dark:text-gray-200 justify-center items-center my-1"
  >
    {
      navItems.map((link) => (
        <HeaderLink aria-label={link.label} href={link.url}>
          {link.title}
        </HeaderLink>
      ))
    }
    <LanguageSelector />
    <ThemeToggleButton client:only />
  </nav>
</header>

<style>
  nav {
    animation: nav-shadown 1s linear both;
    animation-timeline: scroll();
    animation-range: 0 100px;
  }

  @keyframes nav-shadown {
    to {
      @apply shadow-lg ring-1 backdrop-blur  ring-white/10;
    }
  }
</style>
